

<div class="blog-post-content-block blog-post-content-block--{{ block.id }} blog-post-content rte" {{ block.shopify_attributes }}>
  <rte-formatter class="block">
    {{ article.content }}
  </rte-formatter>
</div>

{% stylesheet %}
  .blog-post-content {
    max-width: var(--normal-content-width);
    margin: 0 auto;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.content",
  "settings": [],
  "presets": [
    {
      "name": "t:names.content"
    }
  ]
}
{% endschema %}
