
{% if shop.policies.size > 0 %}
  <div
    class="
      footer-utilities__group-policy-links
      custom-typography
      {% if block.settings.font_size != "" %}custom-font-size{% endif %}
    "
    style="{% render 'typography-style', preset: 'custom', settings: block.settings %}"
    {{ block.shopify_attributes }}
  >
    {%- for policy in shop.policies -%}
      {%- if policy != blank -%}
        {%- unless forloop.first -%}
          <span class="footer-utilities__policy-separator" aria-hidden="true"> | </span>
        {%- endunless -%}
        <a href="{{ policy.url }}" class="footer-utilities__policy-link">
          {{- policy.title | escape -}}
        </a>
      {%- endif -%}
    {%- endfor -%}
  </div>
{% endif %}

{% stylesheet %}
  .footer-utilities__group-policy-links.custom-typography,
  .footer-utilities__group-policy-links.custom-typography * {
    font-family: var(--font-paragraph--family);
    font-size: 13px;
    color: rgb(102, 102, 102);
  }

  .footer-utilities__group-policy-links {
    text-align: center;
  }

  .footer-utilities__group-policy-links .footer-utilities__policy-separator {
    margin: 0 0.25em;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.policy_list",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.manage_policies"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "t:names.policy_list",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
